

body {
	z-index: -10000000;
	position: relative;
	margin: 0;
	font-size: 1.2rem;
	min-height: 100vh;
}

#page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#page-content {
	flex: 1 0 auto;
	display: flex;
	 flex-direction: column;
}

header {
	padding: .5rem 1rem;
	border-bottom: 1px solid black;

	h1 {
		font-size: 2.5rem;
		margin: 0;
	}
}

footer {
	box-sizing: border-box;
	height: 2rem;
	margin-top: auto;
	padding: .5rem;
}


aside {
	position: sticky;
	top: 0;
	box-sizing: border-box;
	border: 1px solid black;
	border-top: none;
	padding: .2rem .5rem .5rem .5rem;
	max-height: 100vh;
	transition: padding .3s ease-out;
	text-wrap: nowrap;

	.side-nav {
		height: 100%;

		.tab-headers {
			height: 1.5rem;
			overflow: hidden;
			border-bottom: 1px solid black;

			button {
				all: unset;
				border: 1px solid black;
				border-bottom: none;

				border-radius: 0 5px 0 0;
				margin: 0;
				padding: 0 .5rem;
				cursor: pointer;
			}
		}

		.tab {
			display: none;
			height: calc(100% - 1.5rem);
			overflow: hidden;
		}

		&[data-tab=tree] {
			.tab[data-tab=tree] {
				display: block
			}
			.tab-headers button:not([data-tab=tree]) {
				background-color: lightgray;
			}
		}

		&[data-tab=search] {
			.tab[data-tab=search] {
				display: block
			}
			.tab-headers button:not([data-tab=search]) {
				background-color: lightgray;
			}
		}
	}
	
	.vault-tree {
		overflow: auto;
		height: 100%;
		padding-left: .5rem;
		.tree-children {
			border-left: 1px solid black;
			padding-left: .5rem;
			margin-left: .5rem;
			transition: height .2s ease-out;
			overflow: hidden;
			height: 0;

			&.expanded {
				height: auto;
				overflow: visible;
			}

			.tree-item:last-child {
				margin-bottom: .5rem;
			}
			
		}
	}

	.tab[data-tab=search] {
		form {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 2rem min-content 1fr;
			height: 100%;
		}

		.search-head {
			border-bottom: 1px solid black;
			display: grid;
			grid-template-columns: 1fr 5rem;
			align-items: center;
		}

		.err-out {
			text-wrap: wrap;
		}

		.search-results-out {
			text-wrap: wrap;
			overflow-y: auto;
			max-height: 100%;
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: .5rem;
			align-content: start;
			padding: 0 .5rem;

			.result {
				text-align: left;

				&:first-child {
					margin-top: 1rem;
				}

				&:not(:last-child) {
					border-bottom: 1px solid black;
				}
				

				h4.title-field {
					margin: 0;
				}

				p {
					font-size: 1.1rem;
					margin-left: .5rem;
					margin-top: .2rem;
				}

				
			}
		}
	}
	

	button.aside-collapser {
		position: absolute;
		right: -3.6rem;
		top: .5rem;
		z-index: 100;
	}
}

main {
	border: 1px solid black;
	border-left: none;
	border-top: none;

}

.note-page {
	flex: 1 0 auto;
	display: grid;
	grid-template-columns: 20rem 1fr;
	transition: grid-template-columns .3s ease-out;
	height: 100%;

	&.aside-collapsed {
		grid-template-columns: 0 1fr;
		aside {
			padding-left: 0;
			padding-right: 0;
		}
	}
	
	main {	
		background: repeating-radial-gradient(circle, #F4F6F6, #F4F6F6, 11px, #E8E8E8 11px, #E8E8E8 400px);
		background-size: 17px 17px;
		background-position: 75% 50%;

		article {
			box-sizing: border-box;
			max-width: 64rem;
			margin: 1rem auto;
			min-height: calc(100% - 2rem);
			padding: 3rem 2rem;
			background-color: white;
			box-shadow: 0px 1px 2px grey;

			.note-head {
				display: inline-grid;
				grid-template-columns: 1rem minmax(min-content, max-content) minmax(1rem, 1fr);
				width: 100%;
				align-items: center;
				grid-column-gap: 1rem;
				margin-bottom: 1rem;

				h1 {
					margin: 0;
					font-size: 2.5rem;
					width: 100%;
				}

				hr {
					width: 100%;
					height: 0;
					border: 1px solid black;
					position: relative;
					top: .25rem;
				}
			}
			
			
		}
	}
}

.search-page {
	padding: 2rem;
	form {
		text-align: center;

		input[type=text] {
			font-size: 2rem;
		}

		button {
			font-size: 2rem;
		}

		.search-results-out {
			max-width: 60rem;
			margin: 1rem auto;
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 1rem;
			align-content: start;
			margin-top: 2rem;
			.result {
				text-align: left;

				&:not(:last-child) {
					border-bottom: 1px solid black;
				}
				

				h3.title-field {
					margin: 0;
				}

				.vault-field {
					padding-left: .5rem;
					font-size: 1rem;
				}

				ul.tags-field {
					list-style-type: none;
					padding-left: 0;
					margin: .5rem 0 .5rem .5rem;
					li {
						display: inline-block;
						margin: 0 .25rem 0 0;
					}
				}

				p {
					margin-left: .5rem;
					margin-top: .5rem;
				}

				
			}
		}
	}
}

p {
	margin: 1rem 0;
}

blockquote {
	margin: 1rem 0;
	border-left: 4px solid lightgrey;
	padding-left: 1rem;

}

.tag {
	font-size: 1rem;
	font-style: italic;
	border: 1px solid black;
	border-radius: 30px;
	padding: .1rem .5rem;
	cursor: pointer;
}