

body {
	z-index: -10000000;
	position: relative;
	margin: 0;
	font-size: 1.2rem;
	min-height: 100vh;
}

#page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#page-content {
	flex: 1 0 auto;
	display: flex;
	 flex-direction: column;
}

header {
	padding: .5rem 1rem;
	h1 {
		font-size: 2.5rem;
		margin: 0;
	}
}

footer {
	box-sizing: border-box;
	height: 2rem;
	margin-top: auto;
	padding: .5rem;
}


aside {
	position: sticky;
	top: 0;
	box-sizing: border-box;
	border: 1px solid black;
	padding: 1rem .5rem .5rem 1rem;
	max-height: 100vh;
	transition: padding .3s ease-out;
	text-wrap: nowrap;


	
	.vault-tree {
		overflow: auto;
		overflow-x: scroll;
		height: 100%;
		.tree-children {
			border-left: 1px solid black;
			padding-left: .5rem;
			margin-left: .5rem;
			transition: height .2s ease-out;
			overflow: hidden;
			height: 0;

			&.expanded {
				height: auto;
				overflow: visible;
			}

			.tree-item:last-child {
				margin-bottom: .5rem;
			}
			
		}
	}

	button.aside-collapser {
		position:absolute;
		right: -3.6rem;
		top: .5rem;
		z-index: 100;
	}
}

main {
	padding: 2rem;
	border: 1px solid black;
}

.note-page {
	flex: 1 0 auto;
	display: grid;
	grid-template-columns: 20rem 1fr;
	transition: grid-template-columns .3s ease-out;
	height: 100%;

	&.aside-collapsed {
		grid-template-columns: 0 1fr;
		aside {
			padding: 1rem 0;
		}
	}
	
	main {	
		article {
			h1:first-child{
				margin-top: 0;
				font-size: 2.5rem;
			}
			max-width: 60rem;
			margin: 0 auto;
		}
	}
}

.search-page {
	padding: 2rem;
	form {
		text-align: center;

		input[type=text] {
			font-size: 2rem;
		}

		button {
			font-size: 2rem;
		}

		.search-results-out {
			max-width: 60rem;
			margin: 1rem auto;
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 1rem;
			margin-top: 2rem;
			.result {
				text-align: left;

				&:not(:last-child) {
					border-bottom: 1px solid black;
				}
				

				h3.title-field {
					margin: 0;
				}

				.vault-field {
					padding-left: .5rem;
					font-size: 1rem;
				}

				ul.tags-field {
					list-style-type: none;
					padding-left: 0;
					margin: .5rem 0 .5rem .5rem;
					li {
						display: inline-block;
						margin: 0 .25rem 0 0;
					}
				}

				p {
					margin-left: .5rem;
					margin-top: .5rem;
				}

				
			}
		}
	}
}

p {
	margin: 1rem 0;
}

blockquote {
	margin: 1rem 0;
	border-left: 4px solid black;
	padding-left: 1rem;

}

.tag {
	font-size: 1rem;
	font-style: italic;
	border: 1px solid black;
	border-radius: 30px;
	padding: .1rem .5rem;
	cursor: pointer;
}