{% extends "base.html" %}

{% block content %}
<div data-unbound="nav-aside" data-tab="tree" class="note-page">
	<aside class="expanded">
		{% include "../components/side_nav.html" %}
		<button class="aside-collapser">Index</button>
	</aside>
	<main>
		<article>
			<div class="note-head">
				<h1>{{note.name}}</h1>
				<hr/>
			</div>
			{{+ note.content|safe +}}
		</article>
	</main>
</div>
<script>
	if (window.localStorage.getItem("side-nav-closed") === "true") {
		document.querySelector("div.note-page").classList.add("aside-collapsed");
	}
	
</script>
{% endblock %}